.todo-app{
    padding: 5px;
    background-color: #bdc3c7;
    max-width: 660px;
    min-width: 330px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}